<header>
    <div class="logo-block">
        <img src="assets/img/inner-logo.png" alt="logo" />
    </div>
    <div class="company-title">
        <ul>
            <li class="title">Quartz Energy</li>
            <li>|</li>
            <li>Offset Operator Frac</li>
        </ul>
    </div>
    <div class="right-block">
        <div class="search-block">
            <input type="text" placeholder="Search Well, Region, Company, Conatct or Date" />
        </div>
        <div class="listing-box">
            <a href="" routerLink="/uploaddata">
                <img src="assets/img/filtericon.png" alt="filter icon" />
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</header>