<div class="close-big">
    <a href="/login">
        <img src="assets/img/closebig.png" alt="close" />
    </a>
</div>
<div class="clearfix"></div>
<div class="learn-more-block">
    <div class="img-block">
        <img src="assets/img/need-more-pic.png" class="main-img" alt="need more" />
        <img src="assets/img/blue-arc.png" alt="blue arc" class="blue" />
        <img src="assets/img/blue-light.png" alt="blue arc" class="blue-light" />
    </div>
    <div class="logo-block">
        <img src="assets/img/logo.png" alt="logo" />
    </div>
    <div class="content-block">
        <div class="title-list">
            <ul>
                <li><span>Quartz Energy</span></li>
                <li>|</li>
                <li>Offset Operator Frac Schedule</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="title">
            <h2>
                The seamless sharing of operational timelines and locations is paramount to keeping all parties safe and secure.
            </h2>
            <p>
                Offset Hydraulic Frac identification and well preparation is an ongoing problem that we are facing in the basin. As Quartz Energy acreage offsets many different operators (both at surface and underground), the ability to share schedules and information is a key role for not only maintaining a high level of safety, but to reduce economic waste.  For example, if one operator is performing a hydraulic fracture at a well location near an existing well, there is a chance that the pumping operation will negatively impact the other operators producing well (this takes place deep underground).  It’s important for all parties to know when and where the other parties are performing hydraulic fracturing in an area to ensure they take the necessary & timely precautions. 
            </p>
        </div>
    </div>
</div>