@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBold/gotham-bold-webfont.eot');
  src: url('../fonts/GothamBold/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBold/gotham-bold-webfont.woff2') format('woff2'),
  url('../fonts/GothamBold/gotham-bold-webfont.woff') format('woff'),
  url('../fonts/GothamBold/gotham-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBook/gotham-book-webfont.eot');
  src: url('../fonts/GothamBook/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBook/gotham-book-webfont.woff2') format('woff2'),
  url('../fonts/GothamBook/gotham-book-webfont.woff') format('woff'),
  url('../fonts/GothamBook/gotham-book-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamLight/gotham-light-webfont.eot');
  src: url('../fonts/GothamLight/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamLight/gotham-light-webfont.woff2') format('woff2'),
  url('../fonts/GothamLight/gotham-light-webfont.woff') format('woff'),
  url('../fonts/GothamLight/gotham-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamMedium/gotham-medium-webfont.eot');
  src: url('../fonts/GothamMedium/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamMedium/gotham-medium-webfont.woff2') format('woff2'),
  url('../fonts/GothamMedium/gotham-medium-webfont.woff') format('woff'),
  url('../fonts/GothamMedium/gotham-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

